* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* navbar starts here */

.navbar {
    max-width: 100%;
    height: 92px;
    /* border: 1px solid red; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu {
    width: 365px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

/* navbar ends here */


/* banner starts here */

#banner {
    /* border: 1px solid red; */
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 674px;
    /* padding: ; */
}

.banner-container{
    max-width: 1360px;
    /* height: 60px; */
    margin: 0 auto;
    padding: 115px 120px;


}

.banner-content{
    /* border: 1px solid red; */
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; */
    margin: 0 auto;
    text-align: center;
 


    /* width: 229px;
    height: 35px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px; */
}

.content-button{
    padding: 8px 12px;
    color: #469165;
    background-color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 1000px;
    margin-bottom: 18px;
}

.banner-content h1{
    font-size: 56px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 18px;
}

.banner-content h1 span{
    color: #30B868;
}

.banner-content p{
    max-height: 60px;
    font-size: 14px;
    line-height: 24px;
    color: #d6dde5;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    /* margin: 0 auto; */
}

.first-btn{
    background-color: #469165;
    color: #ffffff;
    padding: 16px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.second-btn{
    background: transparent;
    color: #FFFFFF;
    font-size: 15px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

/* banner ends here */

/* notes starts here */

.notes-container{
    /* max-width: 100%; */
    margin: auto;
    text-align: center;
    
}

.notes-content{
    text-align: center;
    height: 152px;
    margin-top: 50px;
   
}

.notes-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;
    /* line-height: 58px; */
    
}

.notes-content p{
    font-size: 15px;
    /* height: 20px; */
    color: #627382;
    line-height: 20px;
    
}

.notes-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.notes-card .card{
    max-width: 320px;
    height: 280px;
    /* border: 1px solid red; */
    padding: 70px 18px 50px;
    margin-bottom: 100px;
    text-align: center;
    box-shadow:  0 0px 9px rgba(0, 0, 0, 0.09);
}    

/* .card img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    color: #FFFFFF;
    border-radius: 50%;

} */




.icon{
    max-width: 60px;
    height: 60px;
    background-color: #ff5a5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    /* padding: 24px; */
    /* border: 1px solid red; */
}

.card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.card p{
    width: 276px;
    color: #627382;
}





/* notes ends here */