* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* navbar starts here */

.navbar {
    max-width: 100%;
    height: 92px;
    /* border: 1px solid red; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu {
    width: 365px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.btn:hover{
    color: #469165;
    background-color: #FFFFFF;
    border: 2px solid #469165;
    cursor: pointer;
}

/* navbar ends here */


/* banner starts here */

#banner {
    /* border: 1px solid red; */
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 674px;
    /* padding: ; */
}

.banner-container{
    max-width: 1360px;
    /* height: 60px; */
    margin: 0 auto;
    padding: 115px 120px;

}

.banner-content{
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
}

.content-button{
    padding: 8px 12px;
    color: #469165;
    background-color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 1000px;
    margin-bottom: 18px;
}



.banner-content h1{
    font-size: 56px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 18px;
}

.banner-content h1 span{
    color: #30B868;
}

.banner-content p{
    max-height: 60px;
    font-size: 14px;
    line-height: 24px;
    color: #d6dde5;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    /* margin: 0 auto; */
}

.first-btn, .early-access-btn{
    background-color: #469165;
    color: #ffffff;
    padding: 16px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.first-btn:hover{
    color: #469165;
    background-color: #FFFFFF;
    /* border: 2px solid #469165; */
    cursor: pointer;

}

.second-btn{
    background: transparent;
    color: #FFFFFF;
    font-size: 15px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.second-btn:hover{
    /* border: none; */
    box-shadow: 1px 1px 8px rgba(2, 253, 2, 0.729);
    cursor: pointer;
}

/* banner ends here */

/* notes starts here */

.notes-container{
    /* max-width: 100%; */
    margin: auto;
    text-align: center;
    
}

.notes-content{
    text-align: center;
    height: 152px;
    margin-top: 50px;
   
}

.notes-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;
    /* line-height: 58px; */
    
}

.notes-content p{
    font-size: 15px;
    /* height: 20px; */
    color: #627382;
    line-height: 20px;
    
}

.notes-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.notes-card .card{
    max-width: 320px;
    height: 280px;
    /* border: 1px solid red; */
    padding: 70px 18px 50px;
    margin-bottom: 100px;
    text-align: center;
    box-shadow:  0 0px 9px rgba(0, 0, 0, 0.09);
}    




.icon{
    max-width: 60px;
    height: 60px;
    background-color: #ff5a5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    /* padding: 24px; */
    /* border: 1px solid red; */
}

.card h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.card p{
    width: 276px;
    color: #627382;
}

/* notes ends here */

/* brain-structure starts here */

.brain-container{
    max-width: 1360px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.brain-container img{
    /* border: 1px solid red; */
    max-width: 600px;
}

.brain-container .brain-content{
    max-width: 700px;
    /* border: 1px solid red; */
    margin-left: 100px;
}

.brain-content .solution{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.brain-content h2{
    font-size: 40px;
    font-weight: bold;
    /* text-align: left; */
    margin-bottom: 16px;
    color: #001931;
}

.brain-content .personal{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

.brain-content li{
    list-style: none;
    margin-bottom: 16px;
}

/* brain-structure ends here */


/* early-access starts here */

#early-access{
    max-width: 1360px;
    margin: 120px auto;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #F7F6F2;
}

#early-access h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

#early-access .simple-message{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.early-access-btn{
    margin-bottom: 16px;
}

.early-access-btn:hover{
    color: #469165;
    background-color: #FFFFFF;
    border: 1px solid #469165;
    cursor: pointer;
}



#early-access .ending-messages{
    font-size: 16px;
    color: #627382;
}

/* early-access ends here */


/* foooter starts here */


footer{
    background-color: #001931;
}

#footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
}

.social-links{
    margin-right: 120px;
}

#footer-container .social-links h3{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-links .social-media-icons i{
    max-width: 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    padding: 2px 2px;
    border-radius: 50%;
    margin-right: 15px;
}

footer hr{
    max-width: 1360px;
    margin: 0 auto;
    border: 1px solid #e5e7eb6a;
}

footer .copyright{
    text-align: center;
    padding: 20px ;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 24px;
}

/* foooter ends here */