*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    width: 100%;
    height: 92px;
    /* border: 1px solid red; */
}

.nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 120px;
}

.menu{
    width: 365px;
    display: flex;
    justify-content:space-between;
    gap: 32px;
    list-style-type: none;
}

.btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}




